.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

@media (max-width: 768px) {
  .homeContainer {
    gap: 1.5rem;
    padding: 0.5rem;
  }
}